body {
    margin: 0;
    overflow: hidden;
    background-image: url('../assets/backgrounds/level1/mario-repeat-test.png');
    /* background-size: cover; */
    /* background-position: center; */
}

canvas {
    display: block;
    width: 100vw;
    height: 100vh;
}